.devcontainer
.git
.github
.vscode
.gitignore
*Dockerfile
README.md
node_modules
package-lock.json
pnpm-lock.yaml
eslint.config.mjs
LICENSE
volumes
docker-compose*
Makefile
setup
generate_production_env.html
landedb